.{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    margin: 90px auto;
    justify-content: center;
    align-content: center;
}
.menu{
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Gabriela', serif;
}
p{
    margin: 40px 10px 5px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 20px 20px;
}
.bane{
    margin: 0 100px 0 100px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 30px;
    justify-self: start;
    grid-template-areas:
            "a b x "
            "m m u "
            "y k z ";
}
.first, .second, .third{
    margin-top: 0 auto;
    background-color: red;
    border: 1px solid black;
}
.first{
    grid-area: ;
    
}
.second{
    background-color: yellow;
    grid-area: ;
    
}
.third{
    background-color: green;
    grid-area: ;
}
@media (min-width:768px) and (max-width: 991px){
    .first, .second{
        width: 90%;
    }
    .third {
        grid-area: m;
        font-size: small;
        width: 790px;
        height: 176px;
        font-size: 25px;
    } 
}
.chicken{
    display: inline-block;
    float: right;
    /* border: 1px solid black; */
    width: 130px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gabriela', serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#chic{
    background-color: green;
}
#beef{
    background-color: red;
    color: white;
}
#sushi{
    background-color: yellow;
}
@media (max-width:767px){
    .first{
        grid-area: a;
    }
    .second{
        grid-area: m;
        width: 400px;
        height: 150.56px;
    }
    .third{
        grid-area: y;
    }
}
